---
import type { ComponentProps } from 'astro/types';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import NavBar from '../components/NavBar.astro';
import IndexSection from '../components/IndexSection.astro';
import { isTemplateSpan } from 'typescript';
import { getCollection, getEntries, getEntry, } from 'astro:content';
const blog_cards = [
	{title : "Hello", href : "/", body : "Lorem  ipsumsd ipsumsd pi p" },
	{title : "Hello", href : "/", body : "Lorem  ipsumsd ipsumsd pi p" },
	{title : "Hello", href : "/", body : "Lorem  ipsumsd ipsumsd pi p" },
	{title : "Hello", href : "/", body : "Lorem  ipsumsd ipsumsd pi p" },
	{title : "Hello", href : "/", body : "Lorem  ipsumsd ipsumsd pi p" },
]


const project_cards = [
	{title : "Hello", href : "/", body : "Lorem  ipsumsd ipsumsd pi p" },
	{title : "Hello", href : "/", body : "Lorem  ipsumsd ipsumsd pi p" },
	{title : "Hello", href : "/", body : "Lorem  ipsumsd ipsumsd pi p" },
	{title : "Hello", href : "/", body : "Lorem  ipsumsd ipsumsd pi p" },
	{title : "Hello", href : "/", body : "Lorem  ipsumsd ipsumsd pi p" },
]

type NavBarProps = ComponentProps<typeof NavBar>
	
const navbar_links : NavBarProps = {
	links : [
		{title : "Projects", href : "#Projects"},
		{title : "Blog", href : "#Blog"},
		{title : "Experience", href : "#Experience"},
	]
}

const projectCollection = await getCollection("projects")
const projectPosts = projectCollection.map(({data, slug}) => {
	return {
		title : data.title,
		blurb : data.blurb,
		slug : slug
	}
})
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col gap-2">
		<IndexSection title="Projects">
			{
				projectPosts.map(({title, blurb, slug}) => (
					<Card href={slug} title={title} body={blurb}/>
				))
			}
		</IndexSection>
		<IndexSection title="Blog">
			{
				blog_cards.map(({title, href, body}) => (
					<Card href={href} title={title} body={body}/>
				))
			}
		</IndexSection>
		<IndexSection title="Experience">
			{
				blog_cards.map(({title, href, body}) => (
					<Card href={href} title={title} body={body}/>
				))
			}
		</IndexSection>
	</main>
</Layout>

<style>

	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
