---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;



import {Image} from "astro:assets";
import Henrietta from "../content/images/henrifull.jpg";
---
<div class="relative">
<li class="link-card   min-h-[200px] max-h-[240px] z-40 bg-accent-light">
	<a href={href} class="flex flex-row gap-4 align-middle justify-start max-h-[200px]">
	<Image src={Henrietta} alt="Help" class="thumbnail w-[200px] h-[180px] self-center "/>
	<div class="flex flex-col  overflow-hidden  text-ellipsis bg-accent-light">
		<h2 class="font-[400] text-[20px]">
			{title}
		</h2>
		<p class="font-[700] text-[15px] text-accent">
			Summer 2024
		</p>
		<p class="font-[700] text-[15px]">
			C++ • Firmware • Control Systems
		</p>
		<p class="blurb font-[300] text-[14px] text-left">
			{body}
		</p>
	</div>
	</a>
</li>
</div>

<style>
	p.blurb {
    width:100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
	margin-top: 0.5rem;
	}
	img.thumbnail {
		border-radius: 10px 0px 10px 10px;
	}
	.link-card {
		list-style: none;
		display: flex;
		background-color: rgb(var(--accent-light));
		border-radius: 20px;
		padding: 1rem 1rem 1rem 1rem;
	}
	.link-card > hr {
		transition: background-color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	.link-card > a {
		width: 100%;
		position: relative;
		text-decoration: none;
		line-height: 1.4;
		border-radius: 8px;
		color: rgb(0, 0, 0);
		opacity: 0.8;
	}
	h2 {
		margin-bottom: 0.25rem;
	}
	p {
		margin-bottom: 0;
	}
	.link-card:is(:hover, :focus-within) {
		box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
		/* transform: translateY(-1px) translateX(5px); */
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent));
	}
		.link-card:is(:hover, :focus-within) hr {
		background-color: rgb(var(--accent));
	}
	.link-card::before {
	left: -58px;
	content: '';
	position: absolute;
	top : calc(50% - 1px);
	width: 50px;
	height: 2px;
	background: rgb(var(--accent));
	z-index: 10;
	}

	.link-card::after {
		content: '';
		position: absolute;
		width: 16px;
		height: 16px;
		top: calc(50% - 8px);
		left: -8px;
		background-color: rgb(var(--accent));
		border: 2px solid rgb(var(--accent));
		border-radius: 16px;
		z-index: 10;
	}
</style>
