---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const posts = await getCollection("projects");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}
// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
import Up from "../../assets/up.svg";
import Github from "../../assets/github.svg";
---

<Layout>
    <div class="flex flex-col md:flex-row justify-center items-center">
        {post.data.github && <a
            href={post.data.github}
            class="flex flex-row items-center rounded-lg"
            target="_blank"
            ><img src={Github.src} alt="Link to repo" width="30" /></a
        >}
        <h1
            id="top"
            class="w-full text-center text-2xl font-bold p-4 align-middle"
        >
            {post.data.title}
        </h1>
    </div>
    <article
        class="prose-sm max-w-none md:prose md:max-w-[65c] prose-zinc mt-5 pb-5"
    >
        <p><strong>Summary: </strong> {post.data.blurb}</p>
        <Content />
    </article>
    <a
        href="#top"
        class="bg-white absolute bottom-8 right-8 p-2 shadow-lg rounded-md"
    >
        <img src={Up.src} alt="" />
    </a>
</Layout>
